<aside id="footer-outer" class="footer-outer">
    {{> pagination }}

    {{! Tags}}
    <div class="footer-tags">
            <ul class="wrapper-s">
                {{#each tagsAll}}
                    <li><a href="/{{path}}">{{name}} <small>{{number}}</small></a></li>
                {{/each}}
            </ul>
    </div>
</aside>

{{! Credit}}
<footer id="footer-credit" class="clearfix footer-credit" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	<div class="left cr-copyright">&copy; Copyright 2016, <a href="{{blogUrl}}">{{blogTitle}}</a> &mdash; All Rights Reserved.</div>
	<div class="right cr-attribution">Design by <a href="http://heybi.com">Heybi</a>, blog at <a href="http://Ghost.org">Ghost</a></div>
	<div class="back-to-top"><a class="label" href="#">Top</a></div>
</footer>
