<div class="header-outer">
	<div class="clearfix header-inner">
		<header class="left header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header">
        <h1 class="title site-title">
          <img src="{{ asset 'images/header-logo.png' }}" height=42 width=31>
          <a title="{{ blog.title}}" href='{{ blog.url}}'>
            {{ blog.title }}
          </a>
        </h1>
			</div>
		</header>

		<ul class="right socialnetwork">
			<li class="icon-twitter"><a href="https://twitter.com/narlystack">Twitter</a></li>
			<li class="icon-github"><a href="https://github.com/narlystack">Github</a></li>
		</ul>

		<nav class="navigation">
			{{#navigation}}
        <a class="{{ class }}" href="{{ permalink }}">{{ nav }}</a>
			{{/navigation}}
		</nav>
	</div>
</div>
