{{! Archive loop - Home, Tag & Author templates }}
{{#each posts}}
<article class="{{post_class}} post clearfix" itemscope itemtype="http://schema.org/BlogPosting">
    {{#if author}}
    <figure class="post-author-avatar" style="background-image: url({{author.image}})"></figure>

	<ul class="post-header">
		<li class="post-author-name"><a class="author-name" href="{{author.url}}" itemprop="author">{{author.name}}</a></li>{{/if}}
        <li class="post-date" itemprop="datePublished">{{formatDate date format="MMM DD, YYYY"}}</li>
	</ul>



	<h2 class="wrapper-m title post-title" itemprop="headline"><a rel="bookmark" href="{{{url}}}" itemprop="url">{{title}}</a></h2>

	{{#if image}}
	<figure class="wrapper post-cover"><a rel="bookmark" href="{{{url}}}" itemprop="url"><img src="{{image}}" alt="{{title}}" itemprop="image"/></a></figure>
	{{/if}}

    <section class="clearfix wrapper-m post-body">
        {{ substr content max=400}}
    </section>

	{{> post-footer}}
</article>
{{/each}}
