<nav class="wrapper-m blog-pager pagination clearfix">
	{{#if prev_page}}
		<p class="left newer-posts"><a href="{{prev_page}}">Newer Posts</a></p>
	{{else}}
		<p class="left no-link newer-posts">Newer Posts</p>
	{{/if}}

	{{#if next_page}}
		<p class="right older-posts"><a href="{{next_page}}">Older Posts</a></p>
	{{else}}
		<p class="right no-link older-posts">Older Posts</p>
	{{/if}}

	<p class="page-number">Page {{numberPage}} of {{numberPages}}</p>
</nav>