<div class="clearfix wrapper-m post-footer">
	<ul class="button-action save-to">
		<li class="option-box">
			<a class="selector" href="#">Save to ...</a>
			<ul class="option-list">
				<li class="icon-pocket"><a target="_blank" href="https://getpocket.com/edit?url={{url absolute="true"}}">Pocket</a></li>
				<li class="icon-readability"><a target="_blank" href="http://readability.com/save?url={{url absolute="true"}}">Readability</a></li>
				<li class="icon-pinboard"><a target="_blank" href="https://pinboard.in/add?url={{url absolute="true"}}">Pinboard</a></li>
				<li class="icon-instapaper"><a target="_blank" href="http://www.instapaper.com/hello2?url={{url absolute="true"}}">Instapaper</a></li>
			</ul>
		</li>
	</ul>

	<ul class="button-action share-via">
		<li class="option-box">
			<a class="selector" href="#">Share via ...</a>
			<ul class="option-list">
				<li class="icon-facebook"><a target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}">Facebook</a></li>
				<li class="icon-twitter"><a target="_blank" href="https://twitter.com/intent/tweet?text={{title}}&url={{url absolute="true"}}">Twitter</a></li>
				<li class="icon-gplus"><a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">Google +</a></li>
			</ul>
		</li>
	</ul>

	<ul class="button-action posted-under">
		<li class="option-box">
			<a class="selector" href="#">Tags ...</a>
			{{#if tags}}
				<ul class="option-list">
				{{#foreach tags}}
					<li>
						<a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a>
					</li>  
				{{/foreach}}
				</ul>
			{{/if}}
		</li>
	</ul>
</div>