<div class="main-outer">
	<div class="main-inner">
		<article class="{{post_class}} clearfix" itemscope itemtype="http://schema.org/BlogPosting">
			{{^is "author"}}
			<figure class="post-author-avatar" style="background-image: url({{author.image}})"></figure>

			<ul class="post-header">
				<li class="post-author-name">{{#author}}<a class="author-name" href="{{url}}" itemprop="author">{{name}}</a>{{/author}}</li>
				<li class="post-date" itemprop="datePublished">{{date format='MMM DD, YYYY'}}</li>
			</ul>
			{{/is}}

			<h2 class="wrapper-m title post-title" itemprop="headline">{{title}}</h2>

			{{#if image}}
			<figure class="wrapper post-cover"><img src="{{image}}" alt="{{title}}" itemprop="image"/></figure>
			{{/if}}

			<section class="clearfix wrapper-m post-body">
				{{content}}
			</section>
		</article>
	</div>
</div>
