<table id="pagination" class="pagination-outer">
	<tr class="pagination-inner">
    {{#if next_post}}
	<td class="item next-post {{#if next_post.image}}" style="background-image: url({{next_post.image}}){{else}}no-cover{{/if}}">
		<a href="{{next_post.permalink}}" class="post">
			<span class="label">Newer Post</span>
			<h3 class="title"> {{ next_post.title }} </h2>
		</a>
	</td>
    {{/if}}
    {{#if prev_post}}
	<td class="item older-post {{#if prev_post.image}}" style="background-image: url({{prev_post.image}}){{else}}no-cover{{/if}}">
		<a href="{{prev_post.permalink}}" class="post">
			<span class="label">Older Post</span>
			<h3 class="title"> {{ prev_post.title }} </h2>
		</a>
	</td>
    {{/if}}
	</tr>
</table>

<div class="clearfix main-outer">
	<main class="main-inner">
		<article class="{{post_class}} post clearfix" itemscope itemtype="http://schema.org/BlogPosting">
			{{#if "author"}}
			<figure class="post-author-avatar" style="background-image: url({{author.image}})"></figure>

			<ul class="post-header">
				<li class="post-author-name">{{#author}}<a class="author-name" href="{{url}}" itemprop="author">{{name}}</a>{{/author}}</li>
				<li class="post-date" itemprop="datePublished">{{formatDate date format='MMM DD, YYYY'}}</li>
			</ul>
			{{/if}}

			<h2 class="wrapper-m title post-title" itemprop="headline">{{title}}</h2>

			{{#if image}}
			<figure class="wrapper post-cover"><img src="{{image}}" alt="{{title}}" itemprop="image"/></figure>
			{{/if}}

			<section class="clearfix wrapper-m post-body">
				{{{content}}}
			</section>

			{{> post-footer}}
		</article>
	</main>
</div>

<div class="comment-outer">
	<div class="wrapper-m comment-inner">
		{{> disqus}}
	</div>
</div>

